body{
	background-color: rgb(41, 5, 101);
}

h1{
	font-family: Georgia;
	height:3%;
	color:white;
	text-align: center;
	width: 50%;
	margin-left:25%;
}

nav ul{
	position: absolute;
	list-style-type: none;
	margin-left: 25%;
	margin-top: 10%;
	width: 50%;
  	padding: 0;
}

.button-list:{
	position: relative;
	margin-left:15%;
	width: 70%;
	margin-top: 40%
}
.button-list a{
	text-align: center;
	text-decoration: none;
}

.btn{
	position: relative;
	background-color: white;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	padding: 10px 24px;
	border: solid black;
}

.btn:hover{
    box-shadow: black 2px 2px 2px 2px;
	transform: scale(1.1);
}


#tarot-image{
	position:absolute;
	margin-left: 10%;
	width:80%;
	height: 50vh;
	padding-top:10%;
}