body{
	background-color: rgb(41, 5, 101);
}

#Images{
	width:100%;

}


#redirect{
	margin-top:20%;
	width:60%;
	height: 10vh;;
	margin-left:20%;
	background-color:#ffb3b3;
	border:2px solid #ff3333;
	text-align: center;
}
#redirect p{
	font-size:30px;
	font-family:Lucida Console;
	color:#4d4d4d;
}

#redirect p a{
	color:#ff1a1a;
}

#redirect p a:visited{
	color:#ffff1a;
}

.fade-in{
	opacity:0;
	-webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

.fade-in div{
	-webkit-transition: opacity 6s ease-in;
    -moz-transition: opacity 6s ease-in;
    -o-transition: opacity 6s ease-in;
    -ms-transition: opacity 6s ease-in;
    transition: opacity 6s ease-in;
}

.loaded{
	opacity:1;
}