body{
	background-color: rgb(41, 5, 101);
}

#Images{
	width:100%;
	/*background-color: white;*/

}

.cards{
	position:relative;
	border-radius:60%;
	display:inline-block;
	margin-left:25%;
}


#redirect{
	margin-top:20%;
	width:60%;
	margin-left:20%;
	background-color: white;
	text-align: center;
}

.fade-in{
	opacity:0;
	-webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

.loaded{
	opacity:1;
}